<div class="editaccount">

<div class="postscontain">
  <div class="allpostsimg">
    <img src="https://20843-presscdn-pagely.netdna-ssl.com/wp-content/themes/pf-youngadventuress-2016/img/map.jpg" />
  </div>
  <h1 class="allpostsheader">Edit My Account</h1>
</div>

<%= render 'form', user: @user %>

</div>