<div class="postscontain">
  <div class="allpostsimg">
    <img src="https://20843-presscdn-pagely.netdna-ssl.com/wp-content/themes/pf-youngadventuress-2016/img/map.jpg" />
  </div>
  <h1 class="allpostsheader">All Posts</h1>
</div>

<div class="postImages">
  <% @posts.each do |post| %>
    <div class="postandtext">
      <a href="/posts/<%= post.id %>"><div class="postimg"><%= image_tag(post.image.url) if post.image? %></div>
      <div class="postText"><p class="one"></p><p class="three"><%= post.title %></p><p class="two"><%= post.body.slice(0, 175) %><em>...read more</em></p></div></a>
    </div>
  <% end %>
</div>