.signup {
	padding-bottom: 15px;

	label {
		padding-bottom: 2%;;
	}

	input {
		border-color: #028090;
	}
}

.submitsignup input {
	background-color: white;
}

// .signIN {
// 	background-color: #028090;
// 	line-height: 30px;
// 	padding: 0;
// 	margin: 0;
// }